body {
  background: #15172b;
  font-family: 'Lucida Handwriting',cursive;
}

button {
  font-family: inherit;
}

.background {
  background-image: url("../assets/grapes.jpg"); 
  width: 100%;
  height: auto;
}

.nav-button{
  width: 200px;
  font-size: 2rem;
  border-width: .3rem;
}
.header {
  background: #15172b;
  position: relative;
  color: white;
  text-align: center;
  font-size: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 10vh;
}

.footer {
  background: #15172b;
  position: relative;
  color: white;
  text-align: left;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 10vh;
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  /*height: 70vh;*/
  padding-bottom: 30px;
  padding-top: 30px;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

.subtitle {
  color: #eee;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

@media only screen and (min-width: 721px) and (max-width: 1400px) {
  body{
    font-size: 2rem;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: inherit;
  }

  .input {
    font-size: inherit;
    height: 80%;
  }  

  .submit {
    font-size: inherit;
    height: 80%;
  }

  .input-container {
    height: 60px;
  }
  
  .form {
    width: 40%;
    font-size: inherit;
    padding-bottom: 40px;
  }

  .footer {
    font-size: 1rem;
  }

  .header {
    font-size: 4rem;
  }
}



@media only screen and (min-width: 300px) and (max-width: 999px) {
  body{
    font-size: 4rem;
  }

  .content{
    /*height: 70vh;*/
  }

  .title {
    font-size: inherit;
  }

  .subtitle {
    font-size: 3rem;
  }

  .input {
    font-size: inherit;
    height: 80%;
  }  

  .submit {
    font-size: inherit;
    height: 80%;
  }

  .input-container {
    height: 200px;
  }
  
  .form {
    width: 80%;
    font-size: inherit;
    padding-bottom: 40px;
  }

  .footer {
    font-size: 2rem;
  }
}